.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #414452;

  .logo-container {
    margin: 0;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 85px;
    font-size: 18px;
  }

  .logo-item {
    padding-left: 10px;
  }

  .header-actions {
    padding-right: 85px;

    button {
      background-color: #414452;
      border: none;
      outline: none;
      font-size: 14px;
      color: #fff;
      cursor: pointer;

      &:last-child {
        margin-left: 24px;
      }
    }
  }
}