<h2 mat-dialog-title>{{description.title}}<mat-icon mat-dialog-close>close</mat-icon></h2>
<mat-dialog-content class="mat-typography">
  <h3>{{description?.contentItem}}</h3>
  <h3>{{description?.content}}</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-cancel" mat-dialog-close (click)="cancel.emit()">
    Cancel
  </button>
  <button
    class="btn btn-delete"
    [mat-dialog-close]="true"
    (click)="deleteCourse()"
  >
    Yes, delete
  </button>
</mat-dialog-actions>

