.authors {
  width: 312px;
  border-radius: 3px;
  height: 36px;
  font-size: 14px;
  background-color: white;
  border: 1px solid #e5e5e5;
  height: 36px;
  margin-top: 8px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 12px;
  padding-bottom: 30px;
  font-size: 14px;
}
