footer {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #30323f;
  color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  padding-right: 85px;
}
