.duration {
  width: 150px;
  height: 36px;
  font-size: 14px;
  background-color: white;
  border: 1px solid #e5e5e5;
  height: 36px;
  border-radius: 3px;
  margin-top: 8px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 12px;
  font-size: 14px;
}
