<mat-card class="new-course">
  <form
    class="new-course__form"
    [formGroup]="formNewCourse"
    (submit)="onSubmit()"
  >
    <h3 class="new-course__title">New course</h3>
    <div class="new-course__input-wrapper">
      <label class="new-course__label" for="text-input">
        <span class="new-course__label-text">Title:</span>
      </label>
      <input
        formControlName="title"
        class="new-course__input"
        name="title"
        type="text"
        placeholder="Text input"
        id="text-input"
      />
    </div>
    <div class="new-course__input-wrapper">
      <label class="new-course__label" for="text-area">
        <span class="new-course__label-text">Description:</span>
      </label>
      <textarea
        cols="30"
        rows="5"
        class="new-course__textarea"
        placeholder="Add description"
        name="description"
        required
        formControlName="description"
        id="text-area"
      ></textarea>
    </div>
    <app-duration-input></app-duration-input>
    <app-date-input></app-date-input>
    <app-authors-input></app-authors-input>
    <div class="new-course__btn-wrapper">
      <button
        (click)="cancel()"
        class="new-course__btn new-course__btn--reset"
        type="reset"
      >
        Cancel
      </button>
      <button
        (click)="createCourse()"
        class="new-course__btn new-course__btn--submit"
        type="submit"
      >
        Save
      </button>
    </div>
  </form>
</mat-card>
